@media only screen and (max-width: 821px){
*{
  margin: 0;
  padding: 0;
}

body{
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;

}

/*Header*/
header{
  position: sticky;
  top: 0;
  height: 100px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-image: url(./images/gradient_1.svg);
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar{
  display: flex;
  flex-direction: justify-center;
  width: 100%

}

.hlogo{
  display: none;
  height: 0px;
  width: 0px;
}

.navbar li{
  list-style: none;
  margin: 0 15px;
}

/**/
.sec1-with-wave{
  background-image: url(./images/gradient_1.svg);
  overflow: hidden;
}

.container{
  width: 100vw;
  padding-left: 0px;
}

/*Sec 1*/
.sec1{
  height: 1600px;
  max-height: 250vw;
  width: 100%;
  flex-direction: column;
}

.logo{
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0 auto;
  height: 20vw;
  width: 40vw;
}

.main-content{
  color: white;
  height: 560px;
  width: 635px;
  margin-top: 10px;
  padding-left: 30px;
}

.heading{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.heading span{
  margin: 5px 0;
}

.description{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  margin-top: -12px;
  max-width: 90vw;
}

.download{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  height: 50px;
  width: 185px;
  background-color: #7634bf;
  margin-top: 85px;
  border-radius: 25px;
}

.phone{
  overflow: visible;
  height: 130vw;
  width: 97vw;
  margin-left: 0px;
}

.phone img{
  padding-top: 65px;
  height: 100vw;
  width: 97vw;
}

.curve1{
  width: 100vw;
}

.curve1 img{
  width: 100vw;
  margin-bottom: -8px;
}


/*Sec2*/
.sec2-1{
  flex-direction: column;
  width: calc(100vw - 32px);
  height: 110vw;
  justify-content: space-around;
  padding: 16px;
  align-items: center;

}

.sec2-text{
  margin-top: 0px;
  width: 100vw;
  padding-left: 30px;
  max-width: 85vw;
}

.sec2-number{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.sec2-heading{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding: 10px 0px 20px;
  max-width: 80vw;
}

.sec2-heading-2{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding: 10px 0px 20px;
  max-width: 90vw;
}

.sec2-description{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  max-width: 80vw;
}

.sec2-img{
  width: 82vw;
  height: 70vw;
  border-radius: 30px;
}

.sec2-2{
  flex-direction: column;
  width: calc(100vw - 32px);
  height: 110vw;
  justify-content: space-around;
  padding: 16px;
  background-color: #f3f5f6;
  align-items: center;
}

.sec2-3{
  flex-direction: column;
  width: calc(100vw - 32px);
  height: 110vw;
  justify-content: space-around;
  padding: 16px;
  align-items: center;
}

/*sec 3*/
.sec3-with-wave{
  background-image: url(./images/gradient_2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.curve2 img{
  width: 100vw;
}

.curve3 img{
  width: 100vw;
  margin-bottom: -5px;
}

.sec3{
  height: 300vw;
}

.sec3-imagebar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 170vw;
}

.sec3-imagebar img{
  width: 50vw;
  height: 50vw;
}

.sec3-img{
   width: 70vw;
   height: 70vw;
}

.sec3-1{
  flex-direction: column-reverse;
  width: calc(100vw - 32px);
  height: 100vw;
  justify-content: space-around;
  padding: 16px;
  align-items: center;
  padding-top: 110px;
}

.sec3-text{
  width: 500px;
  padding-right: 100px;
  max-width: 80vw;
}

.sec3-heading{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: white;
  padding: 0px 0px 40px;
}

.sec3-description{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 16px;
  padding-bottom: 40px;
}
/*SEC 4*/
.sec4{
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}
.sec4-bottom{
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: auto;
  height: 120px;
  justify-content: space-around;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 35px;
}

.sec4-left{
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin: auto;
}

.copyright{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  width: 85vw;
}

.symbol-bar{
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 20px;
  width: 200px;
  background-color: black;
}

.symbol{
  height: 25px;
  width: 25px;
}


/*Contact Us*/
.contact-heading{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 64px;
  padding: 50px 0px 5px;
}

.mob-mail{
  width: 50vw;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.mob-mail img{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.contact-left-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-left{
  padding-top: 80px;
  width: 80vw;
  display: flex;
  justify-content: center;
}

.contact-right{
  width: 80vw;
}

.contact-left img{
  width: 60vw;
  height: 60vw;
}

.contact-form{
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  background-color: white;
}
.contact-form h2{
  padding-bottom: 50px;

}

.contact-form input{
  width: 70vw;
  border-radius: 20px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
}

.message{
  width: 70vw;
  height: 400px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

.contact-form button{
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  font-weight: 400;
  height: 50px;
  width: 75vw;
  background-color: #7634bf;
  margin-top: 15px;
  border-radius: 25px;
  color: white;
  border: solid black 0px;
}

}
